.container {
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.innerContainer {
    max-width: 400px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    text-align: center;
}