.container {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--grey35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter {
    color: var(--primary);
    font-weight: 700;
}