.container {
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: center;
    /*background-color: var(--grey1B);
    background-color: rgba(0, 0, 0, 0.6);*/
    background: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}

.content {
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey34);
    width: 14px;
    height: 14px;
    border-radius: 3px;
}

.text {
    color: var(--greyA4);
}