.iconBlock {
    margin-top: 20px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 64px;
    height: 64px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    margin-bottom: 12px;
    text-align: center;
    color: var(--primary);
}

.descr {
    text-align: center;
    margin-bottom: 32px;
}

.title2 {
    margin-bottom: 12px;
    text-align: center;
}

.productWin {
    margin-bottom: 24px;
}