.container {
    display: flex;
    align-items: center;
    padding: 12px;
    /*background-color: var(--grey12);*/
    background: rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    box-shadow: 4px 4px 80px 0px rgba(255, 255, 255, 0.02);
}

.img {
    margin-right: 12px;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    margin-bottom: 6px;
}

.content {
    width: calc(100% - 42px);
}

.text {
    color: var(--greyA4);
}

.text span {
    color: var(--greyA4);
}