.users {
    position: relative;
}

.userIcon {
    position: absolute;
    top: 0;
    border-radius: 50%;
    background-color: var(--grey6C);
    border: 1px solid var(--grey12);
}

.userIcon1 {
    z-index: 3;
    left: 0;
}

.userIcon2 {
    z-index: 2;
}

.userIcon3 {
    z-index: 1;
}