.users {
    position: relative;
}

.userIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0.8;
}

.userIcon1 {
    z-index: 3;
    left: 0;
}

.userIcon2 {
    z-index: 2;
    left: 14px;
}

.userIcon3 {
    z-index: 1;
    left: 28px;
}