.title {
    margin-bottom: 18px;
}

.title span {
    color: var(--primary);
}

.spinnerContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    margin-bottom: 24px;
}